<!doctype html>
{% load static %}
{% load sass_tags %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href={% sass_src "styles/app.scss" %}>
    <link rel="stylesheet" type="text/css" href={% sass_src "styles/views/user_profile/list.scss" %}>
</head>
<body>
    <div class="body-wrapper">
        {% include "navbar.html" %}
        <form method="GET" action="">
            <input type="text" name="search" id="search-bar" value="{{ search_query }}" />
            <button>Search</button>
        </form>
        <div class="profiles">
            {% for profile in profiles %}
              {% include "user_profile/summary.html" with profile=profile %}
            {% endfor %}
        </div>
    </div>
</body>
</html>