{% extends "base.html" %}
{% load sass_tags %}
{% block title %}{% endblock %}
{% block style %}
    <link rel="stylesheet" type="text/css" href={% sass_src "styles/views/user_profile/list.scss" %}>
{% endblock %}
{% block content %}
    <div class="body-wrapper">
        {% include "navbar.html" %}
        <form method="GET" action="">
            <input type="text" name="search" id="search-bar" value="{{ search_query }}" />
            <button>Search</button>
        </form>
        <div class="profiles">
            {% for profile in profiles %}
              {% include "user_profile/summary.html" with profile=profile %}
            {% endfor %}
        </div>
    </div>
{% endblock %}