<!doctype html>
{% load static %}
<html>
<link rel="stylesheet" type="text/css" href={% static "css/base.css" %}>
<link rel="stylesheet" type="text/css" href={% static "css/user_profile/list.css" %}>
<head>
</head>
<body>
    <div id="body-wrapper">
        {% include "navbar.html" %}
        <form method="GET" action="">
            <input type="text" name="search" id="search-bar" value="{{ search_query }}" />
            <button>Search</button>
        </form>
        <ul>
            {% for profile in profiles %}
            <li>{% include "user_profile/summary.html" with profile=profile %}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>