<div class="user-profile-summary">
    <a class="user-profile-summary__picture" href="{{ profile.get_absolute_url }}">
        <img src="{{ profile.profile_pic_url }}" />
    </a>
    <div class="user-profile-summary__details">
        <a href="{{ profile.get_absolute_url }}">
        {% firstof profile.user.get_full_name profile.user.get_username %}
        {% if profile.playa_name %}
        ({{ profile.playa_name }})
        {% endif %}
        </a>
         <a href="mailto:{{ profile.user.email }}">{{ profile.user.email }}</a>
    </div>
</div>