<!doctype html>
{% load static %}
{% load sass_tags %}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href={% sass_src "styles/app.scss" %}>
    <link rel="stylesheet" type="text/css" href={% static "styles/views/user_profile/view.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "styles/views/attendance_profile/form.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "styles/views/skill/list.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "styles/views/food_restriction/list.css" %}>
  </head>
  <body>
    <div id="body-wrapper">
      {% include "navbar.html" %}
      {% include "user_profile/header.html" %}

      <div id="body-main-content">
        <h2>Attendance</h2>
        <div id="attendance">
          {% include "attendance_profile/form.html" %}
        </div>

        <h2>Skills</h2>
        <div id="skills">
          Help the leads organize by letting us know what you're good at.
          {% include "skill/list.html" %}
        </div>

        {% if user.id == profile.user.id %}
        <h2>Food Restrictions</h2>
        <div id="food-restrictions">
          Help the Kitchen team out by listing your dietary restrictions.
          {% include "food_restriction/list.html" %}
        </div>
        {% endif %}

        <h2>Teams</h2>
        <div id="teams">
          {% if profile.user.memberships.all %}
          <ul>
          {% for membership in profile.user.memberships.all %}
            <li>
              <a href="{% url 'team-detail' membership.team.id %}">{{ membership.team.name }}</a>
              {% if membership.is_lead %} (Lead){% endif %}
            </li>
          {% endfor %}
          </ul>
          {% else %}
          No associated teams.
          {% endif %}
          {% if is_editable %}
            To join a team, check out the list <a href="{% url 'team-list' %}">here</a>.
          {% endif %}
        </div>
      </div>
    </div>
  </body>
</html>
