@import '../../variables/index';

.team {
    &__membership-form {
        display: block;
        margin-top: $medium-spacing;
    }

    &__member-list {
        display: flex;
        flex-direction: column;
    }
}
