@import '../../variables/index';
@import '../../base';

.team-list-item {
    @include card;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    text-align: left;

    &__details {
        width: 60%;

        &__name {
            font-size: $h5-font-size;
            font-weight: $h5-font-weight;
            text-align: left;
        }

        &__description {
            margin: $xsmall-spacing 0;
        }
    }

    &__team__membership-form {
        button {
            width: 75px;
        }
    }
}
