@import url("https://rsms.me/inter/inter-ui.css");
.team-list-item {
  margin: 20px 0; }
  .team-list-item__name {
    font-size: 20px;
    font-weight: 600; }
  .team-list-item__description {
    margin: 5px 0; }
