@import '../variables/index';

.dues {

    &__details {
        text-align: left;
    }

    &__subheader {
        text-align: center;
        margin-bottom: 0;
    }

    &__list {
        width: 40%;
        margin: $small-spacing auto;
        list-style-type: disc;

        &__item {
            text-align: left;
        }
    }
}