@import "../variables/index";

.notification-container {
    &__notification {
        &--pay_dues {
            background-color: $orange;
            color: white;

            a {
                color: white;
            }
        }
    }
}