@import "../variables/index";

.notification-container {
    &__notification {
        &__pay_dues {
            height: $xlarge-spacing;
            text-align: center;
            font-size: $large-font-size;
            line-height: $xlarge-spacing;
            background-color: $orange;
            color: white;
            a {
                font-weight: $bold-font-weight;
                color: white;
            }
        }
    }
}