@import '../variables/index';

.notification-container {
    color: lighten($gray-dark, 25%);
    box-shadow: $box-shadow-light;
    color: white;
    position: fixed;
    top: 50px;
    z-index: 1000;
    width: 100%;

    &__notification {
        display: flex;
        align-items: center;
        height: $xlarge-spacing;

        &__content {
            font-size: $large-font-size;
            line-height: $xlarge-spacing;
            margin: auto;

            a {
                font-weight: $bold-font-weight;
            }
        }
        &__dismiss {
            height: 30px;
            width: 30px;
            margin-right: $small-spacing;
            background: url("/static/close-button.svg");
        }
    }
}

.notification-container-footer {
    position: static;
    height: $xlarge-spacing;
    display: block;
}

@import '_pay_dues';
@import '_newbie';
