button {
    cursor: pointer;
    border: none;
    border-radius: $border-radius;
    background-color: $green;
    padding: $small-spacing $medium-spacing;
    font-weight: $medium-font-weight;
    color: white;

    &:hover {
        background-color: $green-bright;
    }

    &:focus {
        outline: none;
    }
}

.btn-danger {
    background-color: $red;

    &:hover {
        background-color: $red-bright;
    }
}
