button {
    cursor: pointer;
    border: none;
    border-radius: $border-radius;
    background-color: $green-medium;
    padding: $small-spacing $medium-spacing;
    font-weight: $medium-font-weight;
    color: white;

    &:hover {
        background-color: $green-light;
    }

    &:focus {
        outline: none;
    }
}
