{% if is_editable %}
<form method="POST" action="{% url 'updated-food-restrictions' %}">
    {% csrf_token %}
    <div class="food-restrictions-list">
    {% for restriction in profile.food_restrictions.all %}
        <div class="food-restrictions-list__food-restriction">
            <input type="checkbox" value="{{ restriction.id }}" name="food_restrictions[]" checked="checked">
            <label for="food_restrictions[]">&nbsp;{{ restriction.name }}</label>
        </div>
    {% endfor %}
    {% for restriction in other_food_restrictions %}
        <div class="food-restrictions-list__food-restriction">
            <input type="checkbox" value="{{ restriction.id }}" name="food_restrictions[]" />
            <label for="food_restrictions[]">&nbsp;{{ restriction.name }}</label>
        </div>
    {% endfor %}
    </div>
    <button type="sumbit">Update</button>
</form>
{% else %}
{% endif %}