{% if is_editable %}
<form method="POST" action="{% url 'updated-skills' %}">
    {% csrf_token %}
    <div class="skill-list">
        {% for skill in profile.skills.all %}
        <div class="skill-list__skill">
            <div class="skill-list__skill__image">
                <img src="{{ skill.picture_url }}" alt="{{ skill.description }}" title="{{ skill.description }}" />
            </div>
            <span class="skill-list__skill__name"><input type="checkbox" name="skills[]" value="{{ skill.id }}" checked="checked" />&nbsp;{{ skill.name }}</span>
        </div>
        {% endfor %}
        {% for skill in other_skills %}
         <div class="skill-list__skill">
            <div class="skill-list__skill__image">
                <img src="{{ skill.picture_url }}" alt="{{ skill.description }}" title="{{ skill.description }}" />
            </div>
            <span class="skill-list__skill__name"><input type="checkbox" value="{{ skill.id }}" name="skills[]" />&nbsp;{{ skill.name }}</span>
        </div>
        {% endfor %}
    </div>
    <button type="submit">Update</button>
</form>
{% else %}
<div class="skill-list">
    {% for skill in profile.skills.all %}
    <div class="skill-list__skill">
        <div class="skill-list__skill__image">
                <img src="{{ skill.picture_url }}" alt="{{ skill.description }}" title="{{ skill.description }}" />
        </div>
        <span class="skill-list__skill__name">{{ skill.name }}</span>
    </div>
    {% endfor %}
</div>
{% endif %}