{% extends "base.html" %}
{% load sass_tags %}
{% block title %}Login{% endblock %}
{% block style %}
    <link rel="stylesheet" type="text/css" href={% sass_src "styles/views/registration/login.scss" %}>
{% endblock %}
{% block content %}
    <div class="body-wrapper">
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
      </form>
      <a href="{% url 'password_reset' %}">Forgot your password?</a>
    </div>
{% endblock %}