{% extends "base.html" %}
{% load sass_tags %}
{% block title %}Sign Up{% endblock %}
{% block style %}
    <link rel="stylesheet" type="text/css" href={% sass_src "styles/views/registration/signup.scss" %}>
{% endblock %}
{% block content %}
    <div class="body-wrapper">
        <h1>Signup</h1>
        <form class="body-wrapper__form" method="POST" action="{% url 'signup-submit' %}">
            {% csrf_token %}
            {% for field in form %}
            <div class="body-wrapper__form__field__{{ field.name }}">
                {{ field.errors }}
                {{ field.label_tag }}
                <div class="body-wrapper__form__field__{{ field.name }}__wrapper">{{ field }}</div>
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
            {% endfor %}
            <button>Submit</button>
        </form>
    </div>
{% endblock %}