{% extends "base.html" %}
{% load sass_tags %}
{% block title %}{{ team.name }}{% endblock %}
{% block style %}
    <link rel="stylesheet" type="text/css" href={% sass_src "styles/views/team/detail.scss" %}>
{% endblock %}
{% block content %}
    <div class="body-wrapper card">
        <h1>{{ team.name }}</h1>

        <div class="team__description">
            {{ team.description|urlizetrunc:50|linebreaks }}
        </div>

        <form class="team__membership-form" method="POST" action="{% url 'join-leave-team' team.id %}">
            {% csrf_token %}
            {% if is_member %}
            <button class="btn-danger">Leave</button>
            {% elif team.is_full %}
            <button disabled="disabled" class="btn-disabled">Full</button>
            {% else %}
            <button>Join</button>
            {% endif %}
        </form>

        <h4>Leads</h4>
        <div class="team__member-list">
            {% if team.leads %}
            {% for user in team.leads %}
                <a href="{% url 'user-profile' user.id %}">{{ user.profile.get_formatted_name }}</a>
            {% endfor %}
            {% else %}
                None
            {% endif %}
        </div>

        {% if is_allowed_to_view_members %}
        <h4>Members</h4>
        <div class="team__member-list">
            {% if team.non_leads %}
            {% for user in team.non_leads %}
                <a href="{% url 'user-profile' user.id %}">{{ user.profile.get_formatted_name }}</a>
            {% endfor %}
            {% else %}
                None
            {% endif %}
        </div>
        {% endif %}
    </div>
{% endblock %}