<div class="team-list-item">
    <div class="team-list-item__details">
        <a class="team-list-item__details__name" href="{% url 'team-detail' team.id %}">{{ team.name }}</a>
        <div class="team-list-item__details__description">{{ team.description }}</div>
        <div class="team-list-item__leads">
        Leads:
        {% if team.leads %}
            {% for user in team.leads %}
            <a href="{% url 'user-profile' user.id %}">{{ user.profile.get_formatted_name }}</a>
            {% endfor %}
        {% else %}
            None
        {% endif %}
        </div>
    </div>
    <form class="team-list-item__team__membership-form" method="POST" action="{% url 'join-leave-team' team.id %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{% url 'team-list' %}" />
        {% if team.id in my_team_ids %}
        <button class="btn-danger">Leave</button>
        {% elif team.is_full %}
        <button disabled=disabled class="btn-disabled">Full</button>
        {% else %}
        <button>Join</button>
        {% endif %}
    </form>
</div>
