<div class="team-list-item">
    <a class="team-list-item__name" href="{% url 'team-detail' team.id %}">{{ team.name }}</a>
    <div class="team-list-item__description">{{ team.description }}</div>
    <div class="team-list-item__leads">
        Leads:
        {% if team.leads %}
            {% for user in team.leads %}
            <a href="{% url 'user-profile' user.id %}">{{ user.profile.get_formatted_name }}</a>
            {% endfor %}
        {% else %}
            None
        {% endif %}
    </div>
</div>