{% extends "base.html" %}
{% load sass_tags %}
{% block title %}LED Dino Teams{% endblock %}
{% block style %}
    <link rel="stylesheet" type="text/css" href={% sass_src "styles/views/team/list.scss" %}>
    <link rel="stylesheet" type="text/css" href={% sass_src "styles/views/team/list_item.scss" %}>
{% endblock %}
{% block content %}
    <div class="body-wrapper">
        <h1>Teams</h1>
        <div class="team-list">
            {% for team in teams %}
            {% include "team/list_item.html" with team=team %}
            {% endfor %}
        </div>
    </div>
{% endblock %}