<!doctype html>
{% load static %}
{% load sass_tags %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href={% sass_src "styles/app.scss" %}>
    <link rel="stylesheet" type="text/css" href={% static "styles/views/team/list.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "styles/views/team/list_item.css" %}>
</head>
<body>
    <div id="body-wrapper">
        <h1>Teams</h1>
        <ul class="team-list">
        {% for team in teams %}
        {% include "team/list_item.html" with team=team %}
        {% endfor %}
        </ul>
    </div>
</body>
</html>