<!doctype html>
{% load sass_tags %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href={% sass_src "styles/app.scss" %}>
    <link rel="stylesheet" type="text/css" href={% sass_src "styles/views/team/list.scss" %}>
    <link rel="stylesheet" type="text/css" href={% sass_src "styles/views/team/list_item.scss" %}>
</head>
<body>
    <div class="body-wrapper">
        <h1>Teams</h1>
        <div class="team-list">
            {% for team in teams %}
            {% include "team/list_item.html" with team=team %}
            {% endfor %}
        </div>
    </div>
</body>
</html>