@import '../../variables/index';

.attendance {
    table {
        margin-left: $small-spacing;
        margin-bottom: $small-spacing;
        td {
            padding-left: $small-spacing;
            input {
                margin: 0;
            }
        }
    }
}
