#attendance {
    border-bottom: 1px solid #ccc;
    width: 500px;
    padding-bottom: 10px;
}
#attendance-summary {
    margin-bottom: 15px;
}
#attendance h4 {
    margin-left: 20px;
}
#attendance table {
    margin-left: 20px;
}
#attendance table td {
    padding-left: 20px;
}