@import '../../variables/index';

.attendance {

    &__checkbox {
        margin: $small-spacing 0;
    }

    table {
        margin-left: $small-spacing;
        margin-bottom: $small-spacing;
        td {
            padding-left: $small-spacing;

            #id_job_preferences {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    margin: 0;
                }
            }
        }
    }
}
