@import url("https://rsms.me/inter/inter-ui.css");
.attendance__summary {
  margin-bottom: 20px; }

.attendance table {
  margin-left: 10px;
  margin-bottom: 10px; }
  .attendance table td {
    padding-left: 10px; }
