#body-main-content {
    margin-left: 13%;
}
#header {
    display: table;
    margin-top: 60px;
    margin-bottom: 20px;
}
#details {
    display: table-cell;
    vertical-align: middle;
    padding-left: 40px;
    width: auto;
    overflow: hidden;
}
#details-inner {
    margin-left: 10px;
}
#profile-pic {
    width: 300px;
    height: 300px;
    margin-top: -50px;
    margin-left: -50px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    display: block;
}
#profile-pic img {
    width: 100%;
    vertical-align: top;
}
.dimming-pic:before {
    content: '\A';
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background:rgba(0,0,0,0.5);
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.dimming-pic:hover:before {
    opacity: 1;
}
.edit-link {
    margin-top: 7px;
}
#bio {
    margin-top: 15px;
}
#teams {
    margin-left: 10px;
}