$sticky-banner-height: 50px;

* {
    font: $base-font;
}

body {
    background-color: $green-light;
    margin: 0;
}

ul {
    padding: 0;
    list-style-type: none;
}

@mixin body-wrapper {
    width: 800px;
    padding: $medium-spacing $large-spacing;
    margin: 0 auto;
}

.body-wrapper {
    @include body-wrapper;
    text-align: center;

    &--left-align {
        @include body-wrapper;
    }
}

.sticky-banner {
    height: $sticky-banner-height;
    text-align: center;
    font-size: $large-font-size;
    background-color: $green-dark;
    position: fixed;
    top: 50px;
    z-index: 1000;
    width: 100%;
    font-weight: $bold-font-weight;
    line-height: $sticky-banner-height;
}

.sticky-banner-footer {
    position: static;
    margin-top: 50px;
    display: block;
}

.bold {
    font-weight: bold;
    font-size: inherit;
}

a {
    font-size: inherit;
}