* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font: $base-font;
    color: $gray-dark;
}

body {
    background-color: $gray-light;
    margin: 0;
}

ul {
    padding: 0;
    list-style-type: none;
}

@mixin body-wrapper {
    width: 800px;
    padding: $medium-spacing $large-spacing;
    margin: 0 auto;
}

.body-wrapper {
    @include body-wrapper;
    text-align: center;

    &--left-align {
        @include body-wrapper;
    }
}

@mixin card {
    background: white;
    margin: $large-spacing auto;
    padding: $large-spacing;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
}

.card {
    @include card;
}
