@mixin profile-pic {
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    display: block;

    img {
        width: 100%;
        height: 100%;
        vertical-align: top;
        object-fit: cover;
    }
}

.header {
    display: flex;
    margin-bottom: $medium-spacing;

    &__profile-pic {
        @include profile-pic;
        width: 300px;
        height: 300px;
        margin-left: -50px;
        margin-top: 24px;
        flex-shrink: 0;
    }

    &__details {
        display: flex;
        flex-direction: column;
        vertical-align: middle;
        padding-top: $small-spacing;
        padding-left: $large-spacing;
        width: auto;
        overflow: hidden;

        &__form {
            display: flex;
            flex-wrap: wrap;

            &__field {
                margin: 0 $small-spacing;

                input {
                    width: 180px;
                }

                textarea {
                    width: 380px;
                }
            }

            &__button {
                margin: $small-spacing;
            }
        }
    }
}

.dimming-pic {
    &:before {
        content: '\A';
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        background:rgba(0,0,0,0.5);
        opacity: 0;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
    }

    &:hover:before {
        opacity: 1;
    }
}
