@import '../../variables/index';
@import 'header';

.user-profile-summary {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: $border;
    padding: $small-spacing;

    &__picture {
        @include profile-pic;
        width: 75px;
        height: 75px;
    }

    &__details {
        display: flex;
        flex-direction: column;
        margin-left: $large-spacing;
        width: 300px;
        text-align: left;

        a {
            font-size: $medium-font-size;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
