@import '../../variables/index';
@import 'header';

.user-profile-summary {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $small-spacing;
    background: white;
    border-radius: $border-radius;
    width: 400px;
    margin: $small-spacing auto;

    &__picture {
        @include profile-pic;
        width: 75px;
        height: 75px;
        margin-left: $small-spacing;
    }

    &__details {
        display: flex;
        flex-direction: column;
        margin-left: $large-spacing;
        width: 300px;
        text-align: left;

        a {
            font-size: $medium-font-size;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
