/*
.profile-pic img {
    height: 75px;
    border-radius: 50%;
}
.profile-pic {
    float: left;
}
*/
.user-profile-summary {
    border-bottom: 1px solid #ccc;
    padding-top: 10px;
    padding-left: 10px;
}
#profile-pic {
    float: left;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    display: block;
    margin-bottom: 10px;
    margin-right: 10px;
}
#profile-pic img {
    width: 100%;
    vertical-align: top;
}
.dimming-pic:before {
    content: '\A';
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background:rgba(0,0,0,0.5);
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.dimming-pic:hover:before {
    opacity: 1;
}