@import '../../variables/index';
@import '../../base';
@import 'header';

.main-content {
    margin: auto;
    width: 600px;

    &__section {
        @include card;

        ul {
            margin-left: $medium-spacing;
        }

        li {
            margin: $small-spacing 0;
            font-size: $medium-font-size;
        }

        &__no-team {
            font-size: 18px;
            margin-bottom: $small-spacing;
        }
    }
}
.edit-link {
    margin-top: $xsmall-spacing;
}
.teams {
    margin-left: $small-spacing;
}