@import '../../variables/index';
@import 'header';

.main-content {
    margin: auto;
    width: 600px;

    &__section {
        background-color: white;
        border-radius: $border-radius;
        padding: $medium-spacing $large-spacing;
        margin-bottom: $large-spacing;

        h4 {
            margin-top: $small-spacing;
            margin-bottom: $medium-spacing;
        }

        &__no-team {
            font-size: 18px;
            margin-bottom: $small-spacing;
        }
    }
}
.edit-link {
    margin-top: $xsmall-spacing;
}
.teams {
    margin-left: $small-spacing;
}