{% extends "base.html" %}
{% load sass_tags %}
{% block title %}Camp Dues{% endblock %}
{% block style %}
    <link rel="stylesheet" type="text/css" href={% sass_src "styles/views/static/dues.scss" %}>
{% endblock %}
{% block content %}
    <div class="body-wrapper card">
        <h1>Camp Dues</h1>
        <h4>Camp dues are $500. Send them to <a href="https://venmo.com/leddinosaur">@leddinosaur</a> on Venmo.</h4>
        <p class="dues__details">
            We can't guarantee a spot in the camp until dues are paid. That said, we don't want dues to
            be the reason you can't attend. If the cost is prohibitive for you, talk to
            <a href="mailto:zionswoons@gmail.com ">Courtney</a>, and we'll find a way to make it work.
        </p>

        <p class="dues__details">
            It might take a few days after paying dues for it to show up on your Dino profile, so
            don't worry if it doesn't happen right away!
        </p>

        <h5 class="dues__subheader">Dues Pay For...</h5>
        <ul class="dues__list">
            <li class="dues__list__item">Water and fuel for the camp</li>
            <li class="dues__list__item">Breakfast, dinner, and snacks for the camp</li>
            <li class="dues__list__item">Booze for the bar</li>
            <li class="dues__list__item">LED gifts</li>
            <li class="dues__list__item">Camp art projects</li>
            <li class="dues__list__item">Repair, replacement, storage, and delivery costs for camp equipment</li>
            <li class="dues__list__item">Graywater pumping</li>
            <li class="dues__list__item">A shower!</li>
            <li class="dues__list__item">A 30-foot-tall flamethrower!</li>
            <li class="dues__list__item">And so much more!</li>
        </ul>
    </div>
{% endblock %}