<!doctype html>
{% load sass_tags %}
<html>
<head>
    <title>Dinobook</title>
    {% if google_analytics_tracking_id %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics_tracking_id }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ google_analytics_tracking_id }}');
    </script>
    {% endif %}
    <link rel=icon href="/static/favicon.png">
    <link rel="stylesheet" type="text/css" href={% sass_src "styles/app.scss" %}>
    <link rel="stylesheet" type="text/css" href={% sass_src "styles/navbar.scss" %}>
    {% block style %}{% endblock %}
</head>
<body>
    {% include "navbar.html" %}
    {% block content %}
    {% endblock %}
</body>
</html>