{% comment %}This is the case where there is an existing AttendanceProfile we want to display.{% endcomment %}

{% if attendance_form.instance.pk %}
    {% if is_editable %}
        <div class="attendance__summary">
            Hooray, we're looking forward to seeing you! :-) There are a few pieces of info that we need from you to help
            us plan this year's camp.
        </div>

        <form method="POST" action="{% url 'changed-attending' %}">
            {% csrf_token %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <h4>Camp Info</h4>
            <table>
                <tr>
                    <td>Are you still planning on attending this year?</td>
                    <td><input class="attending-checkbox" name="is-attending" type="checkbox" checked="checked" /></td>
                </tr>
                <tr>
                    <td>Have you paid your camp dues?</td>
                    <td>{{ attendance_form.instance.paid_dues|yesno:"Yes,No,Not Sure" }}</td>
                </tr>
                <tr>
                    <td>{{ attendance_form.arrival_date.label_tag }}</td>
                    <td>{{ attendance_form.arrival_date }}</td>
                </tr>
                <tr>
                    <td>{{ attendance_form.departure_date.label_tag }}</td>
                    <td>{{ attendance_form.departure_date }}</td>
                </tr>
                <tr>
                    <td>{{ attendance_form.has_ticket.label_tag }}</td>
                    <td>{{ attendance_form.has_ticket }}</td>
                </tr>
                <tr>
                    <td>{{ attendance_form.has_early_pass.label_tag }}</td>
                    <td>{{ attendance_form.has_early_pass }}</td>
                </tr>
                <tr>
                    <td>{{ attendance_form.has_vehicle_pass.label_tag }}</td>
                    <td>{{ attendance_form.has_vehicle_pass }}</td>
                </tr>
                <tr>
                    <td>{{ attendance_form.job_preferences.label_tag }}</td>
                    <td>{{ attendance_form.job_preferences }}</td>
                </tr>
                <tr>
                    <td>{{ attendance_form.shift_time_preference.label_tag }}</td>
                    <td>{{ attendance_form.shift_time_preference }}</td>
                </tr>
                <tr>
                    <td>{{ attendance_form.shift_day_preference.label_tag }}</td>
                    <td>{{ attendance_form.shift_day_preference }}</td>
                </tr>
            </table>

            <h4>Other Info</h4>
            <table>
                <tr>
                    <td>{{ attendance_form.transportation_method.label_tag }}</td>
                    <td>{{ attendance_form.transportation_method }}</td>
                </tr>
                <tr>
                    <td>{{ attendance_form.bicycle_status.label_tag }}</td>
                    <td>{{ attendance_form.bicycle_status }}</td>
                </tr>
            </table>
            <input type="submit" value="Update" name="update" />
        </form>
    {% else %}
        <table>
            <h4>Camp Info</h4>
            <tr>
                <td>{{ attendance_form.arrival_date.label_tag }}</td>
                <td>{{ attendance_form.instance.get_arrival_date_display|default:"Not Sure" }}</td>
            </tr>
            <tr>
                <td>{{ attendance_form.departure_date.label_tag }}</td>
                <td>{{ attendance_form.instance.get_departure_date_display|default:"Not Sure" }}</td>
            </tr>
            <tr>
                <td>{{ attendance_form.has_ticket.label_tag }}</td>
                <td>{{ attendance_form.instance.has_ticket|yesno:"Yes,No,Not Sure" }}</td>
            </tr>
            <tr>
                <td>{{ attendance_form.has_early_pass.label_tag }}</td>
                <td>{{ attendance_form.instance.has_early_pass|yesno:"Yes,No,Not Sure" }}</td>
            </tr>
            <tr>
                <td>{{ attendance_form.has_vehicle_pass.label_tag }}</td>
                <td>{{ attendance_form.instance.has_vehicle_pass|yesno:"Yes,No,Not Sure" }}</td>
            </tr>
            <tr>
                <td>{{ attendance_form.job_preferences.label_tag }}</td>
                <td>
                    {% if attendance_form.instance.job_preferences.all %}
                        {% for job in attendance_form.instance.job_preferences.all %}
                            {{ job }}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    {% else %}
                        Not Sure
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>{{ attendance_form.shift_time_preference.label_tag }}</td>
                <td>{{ attendance_form.instance.get_shift_time_preference_display|default:"Not Sure" }}</td>
            </tr>
            <tr>
                <td>{{ attendance_form.shift_day_preference.label_tag }}</td>
                <td>{{ attendance_form.instance.get_shift_day_preference_display|default:"Not Sure" }}</td>
            </tr>
        </table>

        <h4>Other Info</h4>
        <table>
            <tr>
                <td>{{ attendance_form.transportation_method.label_tag }}</td>
                <td>{{ attendance_form.instance.transportation_method|default:"Not Sure" }}</td>
            </tr>
            <tr>
                <td>{{ attendance_form.bicycle_status.label_tag }}</td>
                <td>{{ attendance_form.bicycle_status.get_bicycle_status|default:"Not Sure" }}</td>
            </tr>
        </table>
    {% endif %}
{% comment %}This is the case where we don't have an AttendanceProfile to display.{% endcomment %}
{% else %}
    {% if is_editable %}
        <form method="POST" action="{% url 'changed-attending' %}">
            {% csrf_token %}
            <table>
                <tr>
                    <td>Are you planning on attending this year?</td>
                    <td><input class="attending-checkbox" name="is-attending" type="checkbox" /></td>
                </tr>
            </table>
            <input type="submit" value="Submit" name="submit" />
        </form>
    {% else %}
        No plans to attend this year :-(
    {% endif %}
{% endif %}
